<?xml version="1.0" encoding="UTF-8"?>

<!--
  Widget Configuration Reference:
    http://docs.blackberry.com/en/developers/deliverables/15274/
-->

<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.0" id="com.gdg.newstrackalpha">
        <name>NewsTrackAlpha</name>
        <description>
                NewsTrackAlpha
        </description>
        <author href="http://gdglagos.com/" rim:copyright="Copyright 2013 gdglagos.com">GDGLagos</author>
        <license href="http://gdglagos.com.com/"></license>

        <feature id="blackberry.ui.dialog"/>

        <feature id="blackberry.app.event" required="true" version="1.0.0"/>
        <feature id="blackberry.invoke" required="true" version="1.0.0"/>
        <feature id="blackberry.app" required="true" version="1.0.0.0"/>
        <feature id="blackberry.identity" required="true" version="1.0.0.0"/>
        <feature id="blackberry.invoke.BrowserArguments" required="true" version="1.0.0.0"/>
        <feature id="blackberry.system.event" version="1.0.0"/>
        <!--<feature id="blackberry.invoke.card" />-->

        <feature id="blackberry.push" />
  
        <content src="index.html" />

      
        <!-- Expose access to all URIs, including the file and http protocols -->
 
        <access subdomains="true" uri="*"/>
        <access subdomains="true" uri="http://google.com/" />
        
        <access uri ="*"/>
        <rim:connection timeout="25000">
                <id>TCP_WIFI</id>
                <id>TCP_CELLULAR</id>
                <id>BIS-B</id>
                <id>MDS</id>    
                <id>WAP2</id>
                <id>WAP</id>
        </rim:connection>
        <icon rim:hover="false" src="img/logo.png" />

        <icon rim:hover="true" src="img/logo.png" />

        <content src="index.html" rim:allowInvokeParams="true"/>

        <rim:permissions>
                <rim:permit>access_shared</rim:permit>
        </rim:permissions>

</widget>

